.custom-block {
  .custom-block-title {
    font-weight: 600;
    margin-bottom: -0.4rem;
  }

  &.tip, &.warning, &.danger {
    padding: 0.1rem 1rem;
    border-left-width: 0.5rem;
    // border-left-style solid
    margin: 1rem 0;
  }

  &.tip {
    border-radius: 6px;
    background: #E9FBFF;
    border-color: #0072ff;

    .custom-block-title {
      position: absolute;
      background: #e9fbff url('//developer.juphoon.com/style/images/document/otovideo/zs@2x.png') no-repeat 0 0;
      background-size: 1.5rem 1.5rem;
      color: transparent;
      width: 1.5rem;
    }

    p {
      background-size: 1.5rem 1.5rem;
      padding-left: 2em;
    }

    ul, ol {
      margin-left: 2em;

      p {
        padding-left: 0em;
      }
    }
  }

  &.warning {
    border-radius: 6px;
    background-color: rgb(255, 229, 100);
    border-color: darken(#ffe564, 35%);
    color: darken(#ffe564, 70%);

    .custom-block-title {
      color: darken(#ffe564, 50%);
    }

    a {
      color: $textColor;
    }

    p {
      // background: rgb(255, 229, 100) url('//developer.juphoon.com/style/images/document/otovideo/zs@2x.png') no-repeat 0 0;
      background-size: 1.5rem 1.5rem;
      padding-left: 2rem;
    }
  }

  &.danger {
    border-radius: 6px;
    background-color: #ffe6e6;
    border-color: darken(red, 20%);
    color: #F8544D;

    .custom-block-title {
      position: absolute;
      background: #ffe6e6 url('//developer.juphoon.com/style/images/document/otovideo/zd@2x.png') no-repeat 0 0;
      background-size: 1.5rem 1.5rem;
      color: transparent;
      width: 1.5rem;
    }

    p {
      background-size: 1.5rem 1.5rem;
      padding-left: 2em;
      color: #F8544D;
    }

    ul, ol {
      margin-left: 2em;

      p {
        padding-left: 0em;
      }
    }
  }

  &.details {
    display: block;
    position: relative;
    border-radius: 2px;
    margin: 1.6em 0;
    padding: 1.6em;
    background-color: #eee;

    h4 {
      margin-top: 0;
    }

    figure, p {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    summary {
      outline: none;
      cursor: pointer;
    }
  }
}