$wrapper {
  // max-width $contentWidth
  margin: 0 auto;
  padding: 2rem 30px;
  // padding-top 0rem
  // @media (max-width: $MQNarrow)
}

// @media (max-width:800px)
// padding 2rem 15px
@media (max-width: $MQMobileNarrow) {
  $wrapper {
    padding: 2rem 15px;
  }
}

@media (max-width: 800px) {
  $wrapper {
    padding: 2rem 15px;
  }
}